* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 95vh;
  top: 0;
  color: aliceblue;
  background-color: rgb(8, 0, 10);
  font-family: SF Pro Text;
}

.modal {
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(255, 254, 254, 0);
  backdrop-filter: blur(10px);
  position: absolute;
  transition: all 0.2s ease;
}

.modal .modal-box {
  height: 65%;
  width: 60%;
  background-color: rgb(158, 0, 179);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 10px -2px rgba(107, 107, 107, 0.644);
  margin: 80px auto 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s ease;
}

.modal-open {
  display: block;
  transition: all 0.2s ease;
}

.modal-close {
  display: none;
  transition: all 0.2s ease;
}

.closeBtn {
  right: 0;
  top: 0;
  margin-left: 90%;
  font-size: 1.8rem;
  padding: 0 8px 3px 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.closeBtn:hover {
  background-color: rgba(105, 105, 105, 0.63);
  border-radius: 5px;
}

.modal .modal-box h2 {
  font-size: 2.5rem;
  margin: 5px 0 20px 0;
}

.modal .modal-box label {
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.modal .modal-box label p {
  font-size: 1.3rem;
  color: rgb(250, 250, 250);
  padding-right: 8px;
  display: inline;
}

.modal .modal-box label input[type="text"] {
  padding: 10px 12px;
  font-size: 1.2rem;
  color: rgb(39, 39, 39);
  outline: none;
  border: none;
  border-radius: 5px;
}

.err {
  padding: 0;
  font-size: 16px;
  display: none;
  color: rgb(255, 109, 72);
}

.modal .modal-box label button {
  background: transparent;
  outline: none;
  border: none;
  color: aliceblue;
}

.modal .modal-box label button i {
  font-size: 3rem;
  padding: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-select {
  color: white;
  transform: scale(1.2);
}

.icon-noselect {
  color: rgba(63, 63, 63, 0.5);
  transform: scale(1);
}

.modal .modal-box .gstart {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 14px 26px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(200, 242, 255);
  background-color: rgb(0, 120, 175);
  letter-spacing: 1px;
}

.main {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.main-heading h1 {
  padding: 20px 0;
  font-size: 3rem;
  color: rgb(132, 195, 255);
  font-family: Sofia pro;
}

#title {
  padding: 5px 20px;
  background-color: rgb(183, 0, 255);
  color: rgb(21, 0, 27);
  border-radius: 5px;
}

.player-box {
  padding-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  height: 210px;
  width: 300px;
  padding: 20px 50px;
  letter-spacing: 0.6px;
  background-color: rgb(255, 146, 255);
  border-radius: 10px;
  box-shadow: rgba(139, 139, 139, 0.1) 0px 20px 25px -5px,
    rgba(128, 128, 128, 0.04) 0px 10px 10px -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.ready {
  font-size: 1.6rem;
  color: rgb(29, 158, 17);
  font-weight: bold;
  padding-bottom: 10px;
}

.player h3 {
  color: rgb(30, 30, 30);
  font-size: 1.9rem;
  font-family: Poppins;
}

.playername {
  font-size: 1.2rem;
  color: rgb(53, 53, 53);
  font-family: Poppins;
  padding-bottom: 10px;
}

.player .playerBtn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 80px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(200, 242, 255);
  background-color: rgb(0, 120, 175);
  letter-spacing: 1px;
}

.disabled {
  color: rgba(200, 242, 255, 0.5) !important;
  background-color: rgba(0, 120, 175, 0.5) !important;
  cursor: unset !important;
}

#gameWait {
  display: none;
  padding: 20px 0;
  font-size: 1.4rem;
  color: rgb(205, 255, 255);
  letter-spacing: 1px;
}

#gameStartTime {
  display: none;
  padding: 20px 0;
  font-size: 1.4rem;
  color: rgb(205, 255, 255);
  letter-spacing: 1px;
}

/* style for tic tac toe */

#tic {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
  padding: 0 0 20px 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#tac {
  width: 50%;
  height: 80px;
  background-color: rgb(143, 2, 161);
  font-family: Heebo;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rank {
  text-align: center;
  padding: 10px;
}

.rank .tac-rank-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(228, 228, 228);
  padding: 6px;
}

.rank .tac-rank-name .tac-rank-name-icon {
  font-size: 15px;
}

.rank .tac-rank-result {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(245, 245, 245);
  padding: 6px;
}

#toe {
  width: 50%;
  height: 480px;
  display: grid;
  padding: 20px 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.toe-boxs {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#toe-box3,
#toe-box6,
#toe-box9 {
  border-left: 3px solid rgb(255, 255, 255);
}

#toe-box7,
#toe-box8,
#toe-box9 {
  border-top: 3px solid rgb(255, 255, 255);
}

#toe-box1,
#toe-box2,
#toe-box3 {
  border-bottom: 3px solid rgb(255, 255, 255);
}

#toe-box1,
#toe-box4,
#toe-box7 {
  border-right: 3px solid rgb(255, 255, 255);
}

.toe-box-icon {
  margin: auto;
  color: aliceblue;
  font-size: 4rem;
}

#playagainBtn {
  padding: 10px 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.8px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(0, 120, 175);
  color: rgb(200, 242, 255);
  outline: none;
}

.winbox {
  font-size: 5rem !important;
}

.lossbox {
  font-size: 3.5rem !important;
  color: rgba(160, 160, 160, 0.322) !important;
}
